<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <?include $(sys.CURRENTDIR)Directories.wxi?>
   <?include $(var.ConfigDir)Config.wxi?>

   <Fragment>
      <Property Id="Common" Value="{F922E079-23B4-404A-8FED-9533549A5E1F}" />

      <CustomActionRef Id="WixExitEarlyWithSuccess" />

     <!-- Icon Id="icon.ico" SourceFile="$(var.SetupIcon)"/ -->
      <Property Id="ARPPRODUCTICON" Value="icon.ico" />
      <Property Id="ARPHELPLINK" Value="https://github.com/micjahn/SSMS-Schema-Folders" />
   </Fragment>
</Wix>